@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.typing {
  font-family: 'Pixelify Sans', sans-serif;
}

container: {
  fontFamily: "'Pixelify Sans', sans-serif",
  fontSize: "24px",
  border: "1px solid red", // for debugging
}

